body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  font-size: 2rem;
}

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

header {
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.engineer-profiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
  margin-top: 3rem;
}

.mini-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(188, 240, 217);
  padding: 0.6rem;
  border-radius: 5px;
}

.mini-profile > .header {
  margin-bottom: 0.25rem;
  font-size: 20px;
}

.mini-profile > .body {
  font-size: 0.8rem;
  color: #777;
  font-size: 15px;
}

.hide {
  display: none;
}

button {
  padding: 7px 15px;
  font-size: 16px;
  background-color: #293e71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}

button:hover {
  background-color: #8d93a4;
}

button:active {
  background-color: #57a9c2;
}
